@using Widgets.Data.Models
@model IEnumerable<Widgets.Data.Models.Widget>

@{
    ViewData["Title"] = "Index";

}   
<h2 class="text-center">Widgets</h2>

    <div class="widget-wrapper">
        @foreach (var widget in Model)
        {
            <div class="card-content">
                <img class="widget-img" src="@widget.WidgetImage" />
                <div>
                    <div class="widget-title">
                        <h2>@widget.WidgetName</h2>
                        <p>Quantity: @widget.Qty</p>
                    </div>
                </div>
            </div>
    }
    </div>







