@using Widgets.Data.Models
@using Widgets.Services

@{
    ViewData["Title"] = "Home Page";
}    
<body>
    <div class="text-center">
    </div>
    <table>
        <thead>
            <tr>
                <th>WidgetId</th>
                <th>WidgetName</th>
                <th>Qty</th>
                <th>WidgetImage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.WidgetId</td>
                    <td>@item.WidgetName</td>
                    <td>@item.Qty</td>
                    <td><img height="250" src="@item.WidgetImage"></td>
                </tr>
            }
        </tbody>
    </table>
</body>