/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #4F2239;
}

.btn-primary {
    color: #7F53C0;
    background-color: #19171A;
    border-color: #2A2042;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #7F53C0;
    background-color: #19171A;
    border-color: #2a2042;
}

.text-dark {
    font-size: 26px !important;
    font-weight: bold !important;
    color: #829900 !important;
}

div.container div.widgetitem {
    color: #829900 !important;
    background-color: #30086B !important;
}

    div.container div.widgetitem div.widgettitle {
        font-size: 26px !important;
        font-weight: bold !important;
        color: #829900 !important;
    }

div.container > div.widgetitem > div.widgettitle h1{
    font-size: 26px !important;
    font-weight: bold !important;
    color: #829900 !important;
}

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        font-size: 14px;
    }
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #E2F95F;
}
.border-bottom {
    border-bottom: 1px solid #E2F95F;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(226, 249, 95, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #261E2B;
    color: #E2F95F;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

